body {
  font-family: "Open Sans";
  color: #85858a;
  font-size: 10pt;
}

input, select {
  padding: 10px;
  width: 90%;
  background: none;
  border: 1px solid #cccccc;
  color: #85858a;
}

a.btn, button.btn {
  background-color: #1f3e61;
  padding: 10px;
  color: #fff;
  border: none;
  margin-top: 15px;
}

table tr td {
  padding: 10px;
}
.resultado{
  border: 1px solid #eeeeee;
}
.resultado tr td{
  border-bottom: 1px solid #eeeeee;
}
.resultado tr td:first-child{
  border-right: 1px solid #eeeeee;
}
.resultado tr:last-child td{
  border-bottom: none;
}
table.striped tr:nth-child(odd) {
  background-color: #ececec;
}

